{% block muwa_search_structure_list %}
    <sw-page class="muwa-search-structure-list">
        {% block muwa_search_structure_list_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button
                        variant="primary"
                        position-identifier="muwa-search-structure-create-button"
                        :routerLink="{name: 'muwa.search.structure.create'}"
                >
                    {{ $tc('muwa-search-structure.list.header.createButtonLabel') }}
                </sw-button>
            </template>
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage"></sw-language-switch>
            </template>
        {% endblock %}

        <template #content>
            {% block muwa_search_structure_list_content %}
                <sw-card-view>
                    <sw-card v-if="!indexStructure && !isLoading">
                        <p>{{ $tc('muwa-search-structure.list.emptyListText') }}</p>
                    </sw-card>
                </sw-card-view>

                {% block muwa_search_structure_content_tabs %}
                    <sw-tabs default-item="structureList" class="muwa-search-structure-content-tabs" position-identifier="muwa-search-structure-content-tabs">
                        <template #default="{ active }">
                            <sw-tabs-item
                                key="structureList"
                                :active-tab="active"
                                :route="{ name: 'muwa.search.structure.index', params: { tab: 'structureList' } }"
                            >
                                {{ $tc('muwa-search-structure.tabs.structureList') }}
                            </sw-tabs-item>
                            <sw-tabs-item
                                key="structureIndices"
                                :active-tab="active"
                                :route="{ name: 'muwa.search.structure.index', params: { tab: 'structureIndices' } }"
                                @click="getIndices()"
                            >
                                {{ $tc('muwa-search-structure.tabs.structureIndices') }}
                            </sw-tabs-item>
                        </template>
                    </sw-tabs>
                {% endblock %}

                <sw-entity-listing
                        v-if="indexStructure && tab === 'structureList'"
                        :isLoading="isLoading"
                        :items="indexStructure"
                        :repository="repositorySearchStructure"
                        :showSelection="false"
                        :columns="columns"
                >
                    <template #column-name="{item}">
                        <router-link :to="{ name: 'muwa.search.structure.detail', params: { id: item.id } }">
                            <div v-if="item.name" :title="item.name">
                                {{ item.name }}
                            </div>
                            <div v-else :title="item.name">
                                <sw-icon class="muwa.search.structure-list-times" name="regular-times" small></sw-icon>
                            </div>
                        </router-link>
                    </template>
                    <template #column-entity="{item}">
                        <div v-if="item.entity" :title="item.entity">
                            {{ item.entity }}
                        </div>
                    </template>
                    <template #column-active="{item}">
                        <router-link :to="{ name: 'muwa.search.structure.detail', params: { id: item.id } }">
                            <sw-icon class="muwa-search-structure-list-check" v-if="item.active" name="regular-checkmark"
                                     small></sw-icon>
                            <sw-icon class="muwa-search-structure-list-times" v-else name="regular-times" small></sw-icon>
                        </router-link>
                    </template>
                    <template #column-createDate="{item}">
                        <div :title="item.createDate">
                            {{ item.createdAt | date({hour: '2-digit', minute: '2-digit'}) }}
                        </div>
                    </template>
                    <template #column-updateDate="{item}">
                        <div :title="item.updateDate">
                            {{ item.updatedAt | date({hour: '2-digit', minute: '2-digit'}) }}
                        </div>
                    </template>
                    <template #delete-action="{ item }">
                        <sw-context-menu-item @click="deleteIndices(item)"
                                              variant="danger"
                        >
                            {{ $tc('global.default.delete') }}
                        </sw-context-menu-item>
                    </template>
                </sw-entity-listing>

                <sw-entity-listing
                        v-if="indexStructure && tab === 'structureIndices'"
                        :isLoading="isLoading"
                        :items="indicesStructure"
                        :showSelection="false"
                        :columns="indicesColumns"
                >
                    <template #column-name="{item}">
                        <router-link :to="{ index: 'muwa.search.structure.detail', params: { id: item.uuid } }">
                            <div v-if="item.index" :title="item.index">
                                {{ item.index }}
                            </div>
                        </router-link>
                    </template>
                    <template #column-health="{item}">
                        <div v-if="item.health" :title="item.health">
                            <span v-if="item.health === 'green'" class="indices-health-check-green">
                                <sw-icon class="muwa-search-structure-indices-health-check-green" name="regular-check-circle" small></sw-icon>
                            </span>
                            <span v-if="item.health === 'yellow'" class="indices-health-check-yellow">
                                <sw-icon class="muwa-search-structure-indices-health-check-yellow" name="regular-exclamation-circle" small></sw-icon>
                            </span>
                            <span v-if="item.health === 'red'" class="indices-health-check-red">
                                <sw-icon class="muwa-search-structure-indices-health-check-red" name="regular-x-circle" small></sw-icon>
                            </span>
                        </div>
                    </template>
                    <template #delete-action="{ item }">
                        <sw-context-menu-item @click="deleteIndices(item)"
                                              variant="danger"
                        >
                            {{ $tc('global.default.delete') }}
                        </sw-context-menu-item>
                    </template>
                </sw-entity-listing>
            {% endblock %}
        </template>
    </sw-page>

{% endblock %}