{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_results %}

{#    {{ dump(page.searchResult.extensions.searchResultCategories) }}#}

    {% block layout_search_suggest_results_categories %}
        <li class="search-suggest-product js-result-section-title categories">
            <h3>Categories</h3>
        </li>
        {% for category in page.searchResult.extensions.searchResultCategories %}
            {% block layout_search_suggest_result_category %}
                <li class="search-suggest-product js-result">
                    {% block layout_search_suggest_result_link_category %}
                        <a href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}"
                           class="search-suggest-category-link">
                            <div class="row align-items-center g-0">
                                {% block layout_search_suggest_result_image_category %}
                                    <div class="col-auto search-suggest-category-image-container"></div>
                                {% endblock %}

                                {% block layout_search_suggest_result_name_category %}
                                    <div class="col search-suggest-category-name">
                                        {{ category.translated.name|raw }}
                                    </div>
                                {% endblock %}
                            </div>
                        </a>
                    {% endblock %}
                </li>
            {% endblock %}
        {% endfor %}
    {% endblock %}

    <li class="search-suggest-product js-result-section-title products">
        <h3>Products</h3>
    </li>
    {{ parent() }}
{% endblock %}

{% block layout_search_suggest_result_name %}
    <div class="col search-suggest-product-name">
        {{ product.translated.name|raw }}
    </div>
{% endblock %}


