{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_results %}

    {% block layout_search_suggest_results_categories %}
        <li class="search-suggest-product-entity js-result-section-title categories">
            <h3>{{ "muwaSearch.suggest.entityLabel.categories"|trans|sw_sanitize }}</h3>
        </li>
        {% for category in page.searchResult.extensions.searchResultCategories %}
            {% block layout_search_suggest_result_category %}
                <li class="search-suggest-category js-result">
                    {% block layout_search_suggest_result_link_category %}
                        <a href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}"
                           title="{{ category.translated.name }}"
                           class="search-suggest-product-link">
                            <div class="row align-items-center g-0">
                                {% block layout_search_suggest_result_image_category %}
                                    <div class="col-auto search-suggest-category-image-container"></div>
                                {% endblock %}

                                {% block layout_search_suggest_result_name_category %}
                                    <div class="col search-suggest-category-name">
                                        {{ category.translated.name|raw }}
                                    </div>
                                {% endblock %}
                            </div>
                        </a>
                        {% block layout_search_suggest_result_breadcrumb %}
                            <div class="search-breadcrumb cms-breadcrumb container">
                                {% sw_include '@MuckiSearchPlugin/storefront/layout/search-breadcrumb.html.twig' with {
                                    context: context,
                                    themeIconConfig: themeIconConfig,
                                    category: category
                                } only %}
                            </div>
                        {% endblock %}
                    {% endblock %}
                </li>
            {% endblock %}
        {% endfor %}
        <br>
    {% endblock %}

    <li class="search-suggest-product-entity js-result-section-title products">
        <h3>{{ "muwaSearch.suggest.entityLabel.products"|trans|sw_sanitize }}</h3>
    </li>
    {{ parent() }}
{% endblock %}

{% block layout_search_suggest_result_name %}
    <div class="col search-suggest-product-name">
        {{ product.translated.name|raw }}
    </div>
{% endblock %}


